* {
    margin: 0;
    padding: 0;
}

.seat {
    float: left;
    display: block;
    margin: 5px;
    background: #949494;
    width: 30px;
    height: 30px;
	border:0.5px solid #858585;
	border-radius:3px;
	color:#FFFFFF;
	text-align:center;
	padding-top:4px;
}

.seat-select {
    display: none;
}

.seat-select:checked+.seat {
    background: #00b509;
	border:0.5px solid #03a103;
	border-radius:3px;
}

.screen{
	margin:0;
	padding:20px;
}

.cust-rows{
	margin-top:30px;
	font-family:verdana;
	font-size:14px;
}

.cust-rows ul{
	list-style:none;
}

.cust-rows ul li{
	margin-top:18px;
}

.last-row{
	margin-left:5px;
}


.sc h1{
	text-align:center;
	color:#FFFFFF;
	background-color:#fd003b;
	padding:10px;
}

.sc h5{
	font-family:verdana;
	text-align:center;
}

.seat-details{
	margin-top:50px;
	font-family:verdana;
}